{% load static %}
<div id="Scope" class="container-fluid bg-rd-light text-white cardo">
    <div class="wrapper container pt-5 pb-5">
        <h2 class="col-6 container text-center">Expert Solutions in Concrete Rehabilitation!</h2>
        <p class="text-center col-11 container mb-4">We own the operational expertise for Structural Enhancement and Repair of Concrete structures. Our services include Structural Health Monitoring, Corrosion Protection, and Structural Enhancement.</p>
        <div class="d-flex justify-content-center text-justify flex-wrap">
            <div class="d-inline-block rounded-0 sh shadow bg-rd-dark text-white p-2  card mb-3 ml-1 mr-1" style="width: 20rem;">
              <img src="{% static 'web/assets/images/home/scope/1.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body ">
                <h4 class="text-center">TESTING</h4>
		        <p style="line-height:1.1rem">We Perform Structural Integrity Audits for RCC Structures, both Industrial and Commercial, through NonDestructive Testing: Rebound Hammer, Ultrasonic Pulse Velocity Detection and other methodologies: chemical analysis, core cutting, carbonation test, etc for concrete diagnostics.</p>
              </div>
            </div>
            <div class="d-inline-block rounded-0 shadow bg-rd-dark sh  text-white p-2  card mb-3 ml-1 mr-1" style="width: 20rem;">
              <img src="{% static 'web/assets/images/home/scope/2.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h4 class="text-center">REPAIRING</h4>
                  <p style="line-height:1.1rem">We Provide Concrete Repair and Restoration Services (replacing or resurfacing concrete, epoxy injection, cementitious grouting, corrosion treatment) for multi-storeyed complexes, infrastructure- bridges, dams, jetty, and industrial structures- silo, chimney, cooling tower, and more.</p>
              </div>
            </div>
            <div class="d-inline-block rounded-0 shadow bg-rd-dark text-white p-2  card mb-3 ml-1 mr-1" style="width: 20rem;">
              <img src="{% static 'web/assets/images/home/scope/3.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="text-center">RETROFITTING</h4>
                <p style="line-height:1.1rem">We Prepare Structures for Future by enhancing structural components through supplemental steel systems, section enlargement, etc and enhancing support systems through protective coatings- waterproofing and fireproofing, expansion joints treatment and others.</p>
              </div>
            </div>
        </div>

    </div>
</div>