{% load static %}
<div class="container-fluid cardo bg-rd-dark text-white">
  <div class="wrapper container pt-5 pb-5">
      <h2 class="col-6 container text-center">TESTIMONIALS</h2>
      <p class="text-center col-11 container mb-4">We own the operational expertise for Structural Enhancement and Repair of Concrete structures. Our services include Structural Health Monitoring, Corrosion Protection, and Structural Enhancement.</p>

      <div id="carouselTestimonials" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner bg-white text-dark">
            <div class="carousel-item active">
                <div class="d-flex align-items-center" style="min-height:250px">
                    <div class="container col-8 text-center">
                        <p class="lead">
                            With the engineers from the reputed institution of the country, we provide the best service to the customers.
                        </p>
                        <p><strong>-Himanshu</strong></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex align-items-center" style="min-height:250px">
                    <div class="container col-8 text-center">
                        <p class="lead">Get the full report of your building's health. We allow you to evaluate your building for <b>free</b>. Grab the opportunity.</p>
                        <p><strong>-Anuj</strong></p>
                    </div>
                </div>
            </div>
          </div>
          <a class="carousel-control-prev " href="#carouselTestimonials" role="button" data-slide="prev">
            <span style="margin-left:-60px" class="text-dark" aria-hidden="true">❮</span>
            <span class="sr-only text-info">Previous</span>
          </a>
          <a class="carousel-control-next " href="#carouselTestimonials" role="button" data-slide="next">
            <span style="margin-right:-60px" class="text-dark" aria-hidden="true">❯</span>
            <span class="sr-only">Next</span>
          </a>
        </div>

  </div>
</div>
<div class="container-fluid cardo">
    <div class="wrapper container pt-5 pb-5">
        <h2 class="col-6 container text-center">Our Team</h2>
        <p class="text-center col-11 container mb-4">We have dedicated serious effort and time in learning and performing best on industry practices. We provide exhaustive set of strengthening methodologies, compliant across industry domains. Our leadership is knowledgeable and capable with diverse set of experience to accomplish meaningful work.</p>
        <div class="d-lg-flex justify-content-center text-center flex-wrap">
            <div class="d-inline-block border-none shadow card mb-3 mb-3 ml-1 mr-1 pt-3 pb-3" style="width: 18rem;">
              <img style="width:150px" src="{% static 'web/assets/images/home/people/1.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h4>VISHAL BUDHWAR</h4>
                  <p>Operations Head</p>
              </div>
            </div>
            <div class="d-inline-block border-none shadow card mb-3 ml-1 mr-1 pt-3 pb-3" style="width: 18rem;">
              <img style="width:150px" src="{% static 'web/assets/images/home/people/2.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4>AMMAR ILYAS</h4>
		        <p>Technical Head</p>
              </div>
            </div>
            <div class="d-inline-block border-none shadow card mb-3 mb-3 ml-1 mr-1 pt-3 pb-3" style="width: 18rem;">
              <img style="width:150px" src="{% static 'web/assets/images/home/people/3.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4>SAURABH, IIT BHU</h4>
                <p>Relations Head</p>
              </div>
            </div>
        </div>

    </div>
</div>