{% extends '../base.html' %}
{% block page_body %}
<div class="container-fluid cardo pt-5 pb-5 ">
<nav aria-label="breadcrumb" class="pb-0 pt-0">
  <ol class="breadcrumb bg-green text-white pb-1 pt-1 rounded-0">
    <li class="breadcrumb-item"><a href="{% url 'web:Home' %}" class="text-rd-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'web:CVF' %}" class="text-rd-dark">Career</a></li>
    <li class="breadcrumb-item text-gray active" aria-current="page">Certificate Verification</li>
  </ol>
</nav>
<div class="container text-center col-md-10 mt-4">
    <h1 class="text-gray mt-3 text-rd-dark">Certificate Not Found</h1>
    <p class="lead">The certificate you are trying to access is not registered with us.</p>
    <p class="mt-3">If you are certain of your certificate, then this might happen because of some mistakes in the form you filled.<br>
    If you are sure that you filled the form correctly, then you can contact the members of our team for help
    <a href="{% url 'web:Contact' %}" class="lead text-rd-dark">Contact</a>. We will keep your issue our top priority.</p>
</div>
</div>
{% endblock page_body %}